useDynLib(RcppQuantuccia, .registration=TRUE)
export("adjust",
       "advanceDate",
       "advanceUnits",
       "businessDaysBetween",
       "getEndOfMonth",
       "getHolidays",
       "getBusinessDays",
       "isBusinessDay",
       "isEndOfMonth",
       "isHoliday",
       "isWeekend",
       "setCalendar")
importFrom("Rcpp", "evalCpp")
